<div class="container py-5 ">


  <div class="row">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Trash Talk Generator
            <i style="color: grey" class="far fa-angry ml-3"></i></h5>
          <hr>
          <div class="row">
            <div class="col-12 text-center">
              <h1 style="color: grey">你想對誰說幹話</h1>
            </div>
          </div>

          <form method="POST" action="/">
            <div class="card-group">
              <div class="card">
                <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
                  class="card-img-top" alt="...">
                <div class="card-body text-center mt-4">
                  <input type="radio" id="engineer" name="job" value="engineer" {{#ifEqual jobSelected 'engineer'}}
                    checked {{/ifEqual}}>
                  <label for="engineer">工程師</label>
                </div>
              </div>

              <div class="card">
                <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
                  class="card-img-top" alt="...">
                <div class="card-body text-center">

                  <input type="radio" id="designer" name="job" value="designer" {{#ifEqual jobSelected 'designer'}}
                    checked {{/ifEqual}}>
                  <label for="designer">設計師</label>

                </div>
              </div>


              <div class="card">
                <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
                  class="card-img-top" alt="...">
                <div class="card-body text-center mt-1">

                  <input type="radio" class=id="entrepreneur" name="job" value="entrepreneur"
                    {{#ifEqual jobSelected 'entrepreneur' }}checked{{/ifEqual}}>
                  <label for="entrepreneur">創業家</label>

                </div>
              </div>
            </div>

            <button class="btn btn-success mt-4" type="submit">Generate</button>
            <div class="mt-2">
              {{#if trashTalk}}
              <div class="alert alert-primary" role="alert">
                <span class="mr-2">{{ trashTalk }}</code>
              </div>
              {{/if}}
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>